#root {
    background-image: url(./media/nasa-jwst-early-universe.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 120vh;
}

body {
    margin: 0;
}